# Ignore sensitive files
*.log
*.env
.bash_history
.bashrc
.cloud-locale-test.skip
.digitalocean_password
.gitconfig
.lesshst
.mysql_history
.profile
.viminfo
# Ignore system files
*.swp
*.swo
.DS_Store

# Ignore other unnecessary files
node_modules/
vendor/
.ssh/id_ed25519
